<template id="ds-controls-template">
  <main>
    <div class="loading">
      <div class="spinner"></div>
    </div>

    <header ripple>
      <span bind="checkbox"></span>
      <span bind="name"></span>

      <buttons>
        <button bind-listen="click"
                bind-func="card">
          <i class="bi-list-task"></i>
        </button>

        <button bind-listen="click"
                bind-func="info">
          <i class="bi-info-circle"></i>
        </button>
      </buttons>
    </header>

    <content>
      <span bind="description"></span>
    </content>
  </main>
</template>

<template id="ds-card-template">
  <main>
    <handle>
      <i class="bi bi-grip-vertical"></i>
    </handle>

    <div style="padding: 0.5em;">
      <header>
        <span bind="name"></span>

        <buttons>
          <button bind-if="weight-group"
                  bind-listen="click"
                  bind-func="settings">
            <i class="bi-gear"></i>
          </button>

          <button bind-listen="click"
                  bind-func="close">
            <i class="bi-x-lg"></i>
          </button>
        </buttons>
      </header>

      <subheader bind-if="index">
        (<span bind="index"></span>)
      </subheader>

      <br bind-unless="index">

      <span bind="range"></span>
      <span bind="ramp"></span>
      <span bind="legends-list"></span>

      <span bind-if="hosts"
            bind="mutant-options"
            class="mutant-options"></span>
    </div>
  </main>

  <aside style="display: none;">
    <div class="group">
      <div style="display: flex;
                  justify-content: space-around;">
        <div bind-if="manual-min">
          Min <span bind="manual-min"></span>
        </div>

        <div>
          Max <span bind="manual-max"></span>
        </div>

        <div>
          Importance <span bind="weight-group"></span>
        </div>
      </div>
    </div>

    <div class="group"
         style="display: flex;
                justify-content: space-between;">
      <div style="display: flex;">
        Visibility <input type="checkbox"
                          bind-listen="change"
                          bind-func="visibility"
                          checked />
      </div>

      <div style="display: flex;">
        Opacity <span bind="opacity"></span>
      </div>
    </div>

    <buttons>
      <button bind-listen="click"
              bind-func="info">
        <i class="bi-info-circle"></i> <span>About</span>
      </button>

      <button bind-if="has-geojson"
              bind-listen="click"
              bind-func="table">
        <i class="bi-table"></i> <span>Table</span>
      </button>
    </buttons>
  </aside>
</template>

<template id="ramp">
  <div class="ramp-container">
    <style>
      .ramp {
        display: flex;
        font-size: 0.8em;
        flex-flow: row nowrap;
        justify-content: space-between;
        margin: auto 1em;
      }

      .unit-ramp {
        font-weight: bold;
        color: darkgray;
      }
    </style>

    <div class="ramp"></div>
  </div>
</template>

<template id="share-link-modal-content">
  <p>
    Sharing the following link will load the Energy Access Explorer platform in
    the current state: layers and analysis.

    Users might need the necessary permissions to view this snapshot fully.
  </p>

  <div style="display:flex; flex-flow: row nowrap;">
    <input id="share-link-input"
           type="text"
           bind="url"
           disabled
           focus />

    <button type="button"
            id="share-link-copy-button">
      <i class="bi bi-copy"
         bind-listen="click"
         bind-func="copy"></i>
    </button>
  </div>
</template>
